<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
    <RES_PleaseUseThePews_ModTitle>Please use the pews! - Config</RES_PleaseUseThePews_ModTitle>

    <RES_Reset>Reset</RES_Reset>
    <RES_Config>Seat Range</RES_Config>
    <RES_Other>ForceUseSeats</RES_Other>
    <RES_Notifications>Notifications</RES_Notifications>

    <RES_GatheringRange_Label>Range in tiles that pawns will search for seats : {0}</RES_GatheringRange_Label>
    <RES_GatheringRange_Tooltip>Set the tile range (starting from the ritual focus spot) at which pawns will look for seats when starting a ritual!</RES_GatheringRange_Tooltip>

    <RES_MaxDistanceToRitualSpot_Label>Max range (in tiles) possible to search for suitable seats : {0}</RES_MaxDistanceToRitualSpot_Label>
    <RES_MaxDistanceToRitualSpotInfo_Label>(NEEDS TO BE EQUAL (OR HIGHER) TO GATHERING RANGE TO DO ANYTHING!)</RES_MaxDistanceToRitualSpotInfo_Label>
    <RES_MaxDistanceToRitualSpot_Tooltip>Should be equal or slightly higher to the main Gathering Range value! Pawns won't search for seats above this amount of tiles ^v^</RES_MaxDistanceToRitualSpot_Tooltip>

    <RES_GenRadialTilesToCheck_Label>Max amount of individual tiles to check for seats: {0}</RES_GenRadialTilesToCheck_Label>
    <RES_GenRadialTilesToCheck_Tooltip>Initial value is 1000, only change if absolutely necessary !</RES_GenRadialTilesToCheck_Tooltip>

    <RES_GladiatorRitualCheckbox_Label>Use seats during the gladiator ritual : </RES_GladiatorRitualCheckbox_Label>
    <RES_GladiatorRitualCheckbox_Tooltip>Placeholder</RES_GladiatorRitualCheckbox_Tooltip>


    <RES_FeatureTabConfig_Label>Seat Range - Config
(Really big numbers might eat your tps during rituals, be careful!)</RES_FeatureTabConfig_Label>
    <RES_OtherTab_Label>Rituals tabns thingies</RES_OtherTab_Label>

    <RES_FeatureTabConfigAdvanced_Label>- ADVANCED SETTINGS -</RES_FeatureTabConfigAdvanced_Label>
    <RES_FeatureTabConfigAdvanced2_Label>(Only change if pawns don't manage to reach seats at the distance you've set on the slider above !)</RES_FeatureTabConfigAdvanced2_Label>

     -------------------------------------------
     // Rituals tab
     <RES_RitualTab_Label>ForceUseSeats - Config</RES_RitualTab_Label>

     <RES_RitualTabExplanation_Label>Use the settings below to force pawns to use seats for specific rituals !

(You can enable forced seats on Rituals without restarting by the way! (Disabling still needs a restart though!)</RES_RitualTabExplanation_Label>
     <RES_RitualTabExplanationSearch_Label>Use the searchbar below to search for specific rituals !</RES_RitualTabExplanationSearch_Label>

     <RES_EnableAllForceSeats_Label>Toggle all</RES_EnableAllForceSeats_Label>
    -------------------------------------------
    

    <GatherRound_RestartRequired>IMPORTANT
Don't forget to restart after changing the values!

(Since this patch affects the source code of the game itself, it only edits the values the launch!)

HAVE FUN!!!! ^v^</GatherRound_RestartRequired>
</LanguageData>
